.body{
    background-image: url(../imagenes/fondo3.jpg);
    background-attachment: fixed;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "sobreNosotros"
    "nuestrosPasteles"
    "eventos"
    "footer"
    ;
}