.main {
    grid-area: main;
    margin: 10vh 5vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .mainInfoContainer {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        padding: 0 2vw;

        p {
            font-size: 1.3rem;
        }
        
        .submit {
            @include boton;
        }
        
        .buyButtom {
            margin-left: 80px;
        }

    }

    

}

@media screen and (max-width: 700px) {
    .main {
        margin: 10vh 0vh;
    }
}
