.sectionNosotros {
    grid-area: nuestrosPasteles;

    .cardsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding-top: 1rem;
    
        .card{
            width: 400px;
            background-color: rgb(223, 144, 54);
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            border: 2px black solid;
            gap: 10px;
            padding-bottom: 10px;
        
            &:hover {
                cursor: pointer;
                background-color: rgb(249, 178, 98);
                transition:all 0.5s;
                scale: 1.05;
            }
            img{
                border-radius: 15px;
                border: 1px black dashed;
            }
        }
    
    }

}

@media screen and (max-width: 700px) {
    .sectionNosotros {
        padding: 1rem;
        .cardsContainer {
            .card {
                width: 90vw;
            }
        }
    
    }

}



